@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@inject HttpClient Http
@inject GraphServiceClient graphClient

@attribute [Authorize]

<PageTitle>Weather forecast</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (user != null)
        {
            <p>User Name: @user.DisplayName</p>
            foreach(var file in listItem)
            {
                <p>@file.Id: @file.Name</p>
            }
    
        }
    </Authorized>
</AuthorizeView>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private User user;
    private IDriveItemChildrenCollectionPage listItem;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        var request = graphClient.Me.Request();
        user = await request.GetAsync();
        var req2 = graphClient.Me.Drive.Root.Children.Request();
        listItem = await req2.GetAsync();
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
