@page "/"
@using System
@using System.IO
@using WBPR.Service.Models.Common
@using WBPR.Service.Utils
@using Microsoft.Extensions.Logging
@using WBPR.Service.Constants
@using WBPR.Service.Interfaces
@using Microsoft.Extensions.Localization
@using WBPR.BlazorServer.Utils
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using WBPR.Service.Models.Response
@inject IStringLocalizer<Index> langLoc
@inject IJSRuntime jsRuntime
@inject ILogger<Index> logger
@inject ISnackbar snackbar
@inject IPreachReportService preachReportService

<PageTitle>WBPR - @langLoc["PageTitle"]</PageTitle>

<MudOverlay @bind-Visible="isLoading" DarkBackground="true" AutoClose="true" />
@if (isLoading)
{
    <div id="loadingProgress">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}

<div id="saveBtn">
    <MudFab StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="@(async()=>await Update())" />
</div>

<MudStack AlignItems="AlignItems.Center">

    <MudText Typo="Typo.h5">@langLoc["OverviewTitle"]</MudText>
    <MudItem>
        <MudPaper Class="pa-4" Elevation="4">
            <MudDatePicker Date="displayPreachDate" Label="日期"
                           DateChanged="@(async(arg)=> await PreachDateChanged(arg))" MaxDate="maxDate" />
            <br />
            <MudNumericField @bind-Value="prData.ReviewNum" Label="@langLoc["ReviewNum"]" Variant="Variant.Outlined"
                             Min="prData.BibleStudyNum>0?1:0" Max="1000" />
            <br />
            <MudNumericField Value="prData.BibleStudyNum" Label="@langLoc["BibleStudyNum"]" Variant="Variant.Outlined"
                             Min="0" Max="1000" ValueChanged="BibleStudyNumChanged" T="int" />
            <br />
            <MudNumericField @bind-Value="prData.DistributeNum" Label="@langLoc["DistributeNum"]"
                             Variant="Variant.Outlined" Min="0" Max="1000" />
            <br />
            <MudNumericField @bind-Value="prData.MediaPlayNum" Label="@langLoc["MediaPlayNum"]" Variant="Variant.Outlined"
                             Min="0" Max="1000" />
        </MudPaper>
    </MudItem>

    <MudText Typo="Typo.h5">@langLoc["TimeTitle"]</MudText>
    <MudItem>
        <MudPaper Class="pa-4" Elevation="4">
            <MudText Typo="Typo.body1">@langLoc["PreachHourTime"]: @ComputeDisplayPreachHours()</MudText>

            <MudRadioGroup @bind-SelectedOption="@prData.PreachTimeRadio">
                <MudRadio Option="(int)PreachRadioEnum.Hours" Color="Color.Primary" UnCheckedColor="Color.Default" Dense="true">@langLoc["PreachTimePicker_Editable"]</MudRadio>
                <MudRadio Option="(int)PreachRadioEnum.Period" Color="Color.Primary" UnCheckedColor="Color.Default" Dense="false">@langLoc["PreachTimePicker_Dialog"]</MudRadio>
            </MudRadioGroup>
            @if (@prData.PreachTimeRadio == (int)PreachRadioEnum.Hours)
            {
                <MudNumericField @bind-Value="prData.PreachMinute" Label="@langLoc["PreachTimeLabel"]"
                             Variant="Variant.Outlined" Min="0" Max="1440" />

            }
            else
            {
                <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Start" Time="@startTime" TimeChanged="StartTimespanToHour" />
                <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="End" Time="@endTime" TimeChanged="EndTimespanToHour" />
                <br />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="AddPeriod">@langLoc["AddPeriod"]</MudButton>
            }
        </MudPaper>
    </MudItem>

    @if (prData.PreachTimeRadio == (int)PreachRadioEnum.Period)
    {
        @if (prData.PreachReportTimes.Count()>0)
        {
            <MudText Typo="Typo.h5">@langLoc["TimePeriodTitle"]</MudText>
        }
        @for (int i = 0; i < prData.PreachReportTimes.Count(); i++)
        {
            var period = prData.PreachReportTimes[i];
            var pNo = i;
            <MudItem xs="12" sm="6">
                <MudPaper Class="pa-4" Elevation="4">
                    <MudText Typo="Typo.h6">#@pNo</MudText>
                    <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Start"
                           Time="period.StartTime.Subtract(prData.PreachDate)"
                           TimeChanged="StartTimespanToHour" />
                    <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="End"
                           Time="period.EndTime.Subtract(prData.PreachDate)"
                           TimeChanged="EndTimespanToHour" />
                    <br />
                    <div class="d-flex justify-space-between flex-grow-1 gap-4">
                        <MudText Typo="Typo.body1">@langLoc["PreachHourTime"]: @Math.Round(period.EndTime.Subtract(period.StartTime).TotalHours, 2)</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Primary" Size="Size.Small" OnClick="@(()=>DeletePeriod(pNo))" />
                    </div>
                </MudPaper>
            </MudItem>
        }
    }

</MudStack>

@code {
    private DateTime displayPreachDate = DateTime.Today;
    private DateTime maxDate = DateTime.Today;
    private TimeSpan? startTime = new TimeSpan(09, 30, 00);
    private TimeSpan? endTime = new TimeSpan(11, 30, 00);
    private PreachReportData prData = new PreachReportData();
    private bool isLoading = false;
    private bool firstRun = true;

    protected override async Task OnInitializedAsync()
    {
        logger.LogDebug("Index OnInitializedAsync()");
        prData.PreachReportTimes = new List<PreachReportTimePeriod>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var timeSpan = await TimezoneUtil.GetTimezoneOffset(jsRuntime);
            //testTime = DateTime.UtcNow.Add(timeSpan);
            await Init();
            logger.LogDebug("Index OnAfterRenderAsync() prData.PreachDate: " + prData.PreachDate);
            //await InvokeAsync(() => StateHasChanged());
        }

    }

    private async Task Init()
    {
        DateTimeOffset clientTime = await BlazorTimeUtil.GetClientDate(jsRuntime);
        displayPreachDate = clientTime.DateTime;
        maxDate = clientTime.DateTime;
        await InitPreachReportData(clientTime);
    }

    private async Task InitPreachReportData(DateTimeOffset dateTimeOffset)
    {
        isLoading = true;
        StateHasChanged();
        var mm = await preachReportService.Get(dateTimeOffset);
        if (mm.Success)
        {
            prData = mm.Data;
            await InvokeAsync(() => StateHasChanged());
        }
        else
        {
            prData = new PreachReportData();
            prData.PreachDate = dateTimeOffset;
            logger.LogDebug("Index InitPreachReportData() prData.PreachDate: " + prData.PreachDate);
            prData.ReviewNum = 0;
            prData.BibleStudyNum = 0;
            prData.MediaPlayNum = 0;
            prData.DistributeNum = 0;
            prData.PreachReportTimes = new List<PreachReportTimePeriod>();
            prData.UpdateTime = dateTimeOffset;
        }
        isLoading = false;
        StateHasChanged();
    }

    private async Task PreachDateChanged(DateTime? date)
    {
        if (firstRun)
        {
            firstRun = false;
        }
        else
        {
            //await Update();
            displayPreachDate = date.Value;
            var timeSpan = await BlazorTimeUtil.GetClientTimezoneOffset(jsRuntime);
            await InitPreachReportData(new DateTimeOffset(date.Value, timeSpan));
        }
        //logger.LogDebug("Index PreachDateChanged() prData.PreachDate: " + prData.PreachDate);
    }

    private void StartTimespanToHour(TimeSpan? timeSpan)
    {
        startTime = timeSpan;
        if (startTime > endTime)
        {
            endTime = startTime;
        }
    }

    private void EndTimespanToHour(TimeSpan? timeSpan)
    {
        endTime = timeSpan;
        if (startTime > endTime)
        {
            startTime = endTime;
        }
    }

    private void ReviewNumChk()
    {
        if (prData.BibleStudyNum > 0 && prData.ReviewNum == 0)
        {
            prData.ReviewNum = 1;
        }
    }

    private void BibleStudyNumChanged(int val)
    {
        prData.BibleStudyNum = val;
        if (prData.BibleStudyNum > 0 && prData.ReviewNum == 0)
        {
            prData.ReviewNum++;
        }
    }

    private void AddPeriod()
    {
        var st = prData.PreachDate.Add((TimeSpan)startTime);
        var et = prData.PreachDate.Add((TimeSpan)endTime);
        if (prData.PreachReportTimes.Any(
            x => (st >= x.StartTime && st <= x.EndTime) || (et >= x.StartTime && et <= x.EndTime) ||
                    (st < x.StartTime && et > x.EndTime)))
        {
            ShowAlert(langLoc["PeriodConflictAlert"], Severity.Error);
        }
        else
        {
            prData.PreachReportTimes.Add(new PreachReportTimePeriod
                {
                    StartTime = st,
                    EndTime = et
                });
            ShowAlert(langLoc["AddPeriodSuccess"], Severity.Info);
        }
    }

    private async Task Update()
    {
        isLoading = true;
        StateHasChanged();
        var mm = await preachReportService.Update(prData);
        isLoading = false;
        StateHasChanged();
        if (mm.Success)
        {
            ShowAlert(langLoc["UpdateSuccess"], Severity.Success);
        }
        else
        {
            ShowAlert(langLoc["UpdateFail"], Severity.Error);
        }
    }

    private PreachReportData GetDataFromCloud()
    {
        return null;
    }

    private void DeletePeriod(int pNo)
    {
        prData.PreachReportTimes.RemoveAt(pNo);
    }

    private void ShowAlert(string msg, Severity severity)
    {
        snackbar.Clear();
        snackbar.Configuration.VisibleStateDuration = 2000;
        snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomStart;
        snackbar.Add(msg, severity);
    }

    private double ComputeDisplayPreachHours()
    {
        if (prData.PreachTimeRadio == (int)PreachRadioEnum.Hours)
        {
            return Math.Round(prData.PreachMinute / 60, 2);
        }
        else
        {
            var hours = prData.PreachReportTimes.Sum(x =>
                x.EndTime.DateTime.Subtract(x.StartTime.DateTime).TotalHours);
            return Math.Round(hours, 2);
        }
    }
}